
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form>
        <input v-model="pesan" placeholder="masukan data"> <button onclick="vm.openForm()">edit</button>
    </form>
    <ul>
        <li><p>{{ 'ari purnomo <button onclick="vm.data()">edit</button> <button onclick="vm.pesan()">delete</button>''}}</p></li>
        <li><p>{{ 'dimas purwanto <button onclick="vm.data()">edit</button> <button onclick="vm.pesan()">delete</button>'}}</p></li>
        <li><p>{{ 'aulia fitria ningsih <button onclick="vm.data()">edit</button> <button onclick="vm.pesan()">delete</button>'}}</p></li>
        <li><p>{{ pesan }}</p></li>
    </ul>
    <p>{{ pesan }}</p>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      users : [
          {
              'name' : 'Ari purnomo',
            },
          {
              'name' : 'dimas purwanto',
            },
          {
                'name' : 'aulia fitrianingsih',
            },
        ],
      methods : {
          openForm : function(){
            this.pesan = pesan ("masukan ") 
          }
          
      }
  })
  </script>
</body>
</html>