<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>{{'Nilai a: ' + total}}</h1>
    <h1>{{'Rata rata: ' + rata2}}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        total : 0,
        rata2 :0,
      },
      methods : {
          openForm : function(){
            this.a = prompt("Masukan nilai a") 
            this.b = prompt("Masukan nilai a")
            this.c = prompt("Masukan nilai a")
            this.d = prompt("Masukan nilai a")
          }
          
      }
  })
  </script>
</body>
</html>